.canvas-cursor{
	left:0;top:0;
	width:1px;
	height:1px;
	position:absolute;
	/*pointer-events:none;*/
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	
	visibility:hidden;
	transition:all 100ms ease;
	transition-property: width, height;
	transform-origin: 0% 0%;
}
.canvas-cursor.cursor-self{
	pointer-events:none;
}

.canvas-cursor:before{
	opacity:0;
	transition: opacity 2s ease-out;
	transition-delay:3s;
	visibility: visible;
	content:attr(data-name);
	color: black;
	font-size: 10px;
	text-align: center;
	transform: translateX(-50%);
	top: 50%;
	position:absolute;
}
.canvas-cursor:hover:before{
	transition: opacity 100ms ease-out;
	opacity: 1;
}

.canvas-cursor:after {
	position: absolute;
	visibility:visible;
	content: " ";
	/*
	width:attr(data-size px);
	height:attr(data-size px);
	this will work... someday.
	*/
	width:100%;
	height:100%;
	border-radius:100%;
	left: -50%;
	top: -50%;
	border:1.5px solid black;
	box-shadow: 0px 0px 1px 1px white inset;
	margin: -1.5px;
}


.canvas-cursor.eraser.drawing:after{
	box-shadow:none;
}
.canvas-cursor.eraser:after{
	border-style: dashed;
}
.canvas-cursor.drawing:after{
	box-shadow:0 0 1px 1px black;
}
.canvas-cursor.admin:after{
	background-color: rgba(240, 201, 0, 0.12);
}
.canvas-cursor.cursor-self.admin:after{
	background-color:transparent;
}
.canvas-cursor.cursor-self{
	background-color:transparent;
	transition:none;
}
.canvas-cursor.cursor-self .cursor-pressure-size{
	position:absolute;
	top: -50%; 
	left: -50%; 
	width: 100%; 
	height: 100%;
	transform-origin: 50% 50%;
	border-radius: 100%;
	border: 1.5px solid white;
	visibility: visible;
	box-shadow: 0 0 1px 1px black inset;
	margin: -1.5px;
}




@-webkit-keyframes opac{
	0% 		{ opacity:0; }
	100ms	{ opacity:0; }
	100% 	{ opacity:1; }
}

@-webkit-keyframes size-shrink{
	0% {transform:scale(1); opacity:1;}
	100% {transform:scale(0); opacity:0;}
}


@-moz-keyframes opac-moz{
	0% 		{ opacity:0; }
	100ms	{ opacity:0; }
	100% 	{ opacity:1; }
}

@-moz-keyframes size-shrink-moz{
	0% {transform:scale(1); opacity:1;}
	100% {transform:scale(0); opacity:0;}
}


.canvas-cursor.pick-color:after{
	opacity:0;
	transform:scale(0);
    -webkit-animation:size-shrink 100ms linear;
    -moz-animation:size-shrink-moz 100ms linear;
	

}

.canvas-cursor.pick-color .cursor-pressure-size{
    visibility: hidden;
}


.canvas-cursor.pick-color{
	visibility:visible;
	transition:none;
	width:50px !important; height:50px !important;
	border:2px solid white;
	border-radius:25%;
	border-top-left-radius:0;
	margin:-2px;
	box-shadow: 0px 0px 1px 1px black;

    -webkit-animation:opac 200ms ease-out;
    -moz-animation:opac-moz 200ms ease-out;
}

html{
	height:100%;
	
    display: flex;
    justify-content: flex-start;
    align-items: center;
	
	
	overflow:scroll;
}
body.canvas.connected{
	background-color: #DAE2D7;
}
body.canvas{
	background-color: #D7D7D7;
	transition:none;
	display:inline-block;
    margin:auto;
}


.canvas-workarea,.checker-bg, .color-spinner .alpha-pick:before,
.preview-col:before, .palette-storage .palette-entry:before,
.canvas-cursor.pick-color:before, .qstatus-piece.preview-col:before{
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABn0lEQVR4Xu3ZQRKDIAwFUN14De9/K93oHdzY0hlmHMY2SAL5DXHZim2eAQKM5/saFK91XRV/fRhGB/AM8C7gY4DmKOSDoM8CPg1q9kD8OmCapg/QcRxVoKALoRh8jLwGAixACD4N+O4zblpAAvwKVBoBDoAKUHpMgAKggo/pLokAA5Ab/LXPl7RJxwwIAE4gnLYBQx1g33f2HM9BMAEQ3mQpgjqA5GqwBMEUQEkmmAN4imAS4AmCWYBcBNMAOQjmASiELgB+IXQD8A2hK4A7hO4AUoQuAa4I3QJEhHHbtrPGbmvuZuU8z7m3VrlvXJblLFlFSf0bCACqWJAK9u45MABaCFAAGghwAK0RIAFaIsACtEKABmiB8BcAAaJWsQQN0OJ8Hhag1fk8JEDL83k4AGpdIHk0HcYWKAAq+FjLSyLAAOQGf13QlLRJF0QQAJxAOG0huoDEhggHQT0DJAA4FaM6QNgRktrwKMkEUwAlmWAO4CmCSYAnCGYBchFMA+QgmAegZhgHQDgZot5Sze89AzwDAA5Ha6Y49WzvAspd4AXk+BDRuCM1ygAAAABJRU5ErkJggg==');
	background-repeat:repeat;
}

.canvas-workarea{
	position:relative;
	margin:0;
    
	-webkit-user-select: none;
	-moz-user-select:none;
	user-select:none;
	width:32px; height:32px;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAR0lEQVQYV5WQSQ4AIAgD6f8fXQGFQKJGOUE7YYM8BDYMVWt6LcwUkgKk7EmDDIhYYIPUn4CZNXep7JRgwDHpe6doer3u+LEBmLoZCntZhJ0AAAAASUVORK5CYII=") 5 5, none;
	
	border: 60px solid transparent;
	outline:1px dashed #9d9d9d;
    outline-offset: -60px; /*padding*/
    
	background-clip: content-box;
	overflow:hidden;
	transition: none;
	background-size: 10%;
	/* z-index: 4; */
}
.canvas-workarea:focus{
	outline:none;
}


.canvas-pool{
	position:relative;
	left:0;top:0;width:100%;height:100%;
}
.canvas-pool canvas{
	position:absolute;
	top:0; left:0; bottom:0; right:0;
	width: 100%;
	height: 100%;
}




canvas{
	display:none;
	pointer-events: none;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
canvas.partial-focused{
	opacity:0.3;
	display:block;
}
canvas.focused{
	opacity:1.0;
	display:block;
	pointer-events: all;
}



