#tablet-api {
	top:0;left:0;
	width:1px; height:1px;
	position:absolute;
}

.oekaki-buttons {
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	display:flex;
	justify-content: space-around;
}
.canvas-sidebar {
	float:left;
	padding:4px 12px;
	font-family:sans-serif;
	position:relative;
}

.canvas-sidebar h1{
	font-size:18px;
}
h1.title > b {
	font-size:15px;
}
.canvas-sidebar p{
	font-size:14px;
}

#help.canvas-help {
	display:none;
	overflow:auto;
}
#help.canvas-help:target {
	background:#E4D7A5;
	display:block;
	padding:4px;
	position:absolute;
	top:0; left:0; right:0; bottom:0;
}

.chat-box {
	padding:2px 0;
}
.chat-messages {
	background:#444;
	max-height:80px;
	font-family:monospace;
	overflow:auto;
}
.chat-messages > .chat-message:nth-child(even){
	background:rgba(255, 255, 255, 0.2);
}
.chat-input-label {
	display:block;
	position:relative;
}
.chat-input-label:before {
	content:"$";
	color:transparent;
	border-bottom:1px solid #DDD;
	position:absolute;
	left:0; right:0;
	padding:2px 2px;
}
.chat-input {
	background:none;
	border:none;
	outline:none;
	width:100%;
	padding:4px 2px;
	box-sizing:border-box;
}
.chat-input:focus {
	background:#888;
}

a.chat-message {
	text-align:center;
}
.chat-message {
	display:block;
	margin-bottom:2px;
}
.chat-text {
	text-align:center;
}
.chat-user:after {
	content:":";
}
.chat-message > .chat-user {
	display:inline-block;
	float:left;
	padding-right:4px;
	background-clip:content-box;
}
.chat-user + .chat-text {
	text-align:inherit;
}

@media all and (orientation:landscape) {
	h1.title {
		float:left;
		padding:0 15px;
	}
	.chat-messages {
		max-height:50px;
	}
}
@media all and (max-width:900px) {
	body.parupaint-canvas {
		overflow:hidden;

		display:flex;
		flex-direction: column;
	}
	.canvas-sidebar {
		width:auto;
		float:inherit;
	}
	.canvas-scrollarea > .canvas-workarea {
		border-width:10px;
	}
}
