/* basic stuff, canvas, pannable view, cursor */

* {
	margin:0;
	padding:0;
}
.canvas-cursor {
	position:absolute;
	left:0; top:0;
	width:1px; height:1px;
	user-select:none; -moz-user-select:none; -webkit-user-select:none;

	visibility:hidden;
	z-index:1;
}
.canvas-cursor:after, .name-label {
	visibility:visible;
	pointer-events:none;
	content:attr(data-name);
	position:absolute;
	top:50%;
	transform:translateX(-50%);
}
.canvas-cursor.cursor-self:after {
	display:none;
}
.canvas-cursor:before, .cursor-size {
	position:absolute;
	visibility:visible;
	content:" ";
	top:0; left:0; right:0; bottom:0;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);

	border-radius:100%;
	box-shadow:0 0 0 1px black, 0 0 0 1px white inset;
	pointer-events:none;
	z-index:-1;
}
.canvas-cursor.cursor-self {
	pointer-events:none;
}

.parupaint-canvas:focus {
	outline:2px solid black;
}

.parupaint-canvas.resizable {
	resize:both;
}
.parupaint-canvas {
	background:#AAA;
}
.canvas-scrollarea {
	overflow:auto;
	-webkit-user-select:none;
	user-select:none;
}
.oekaki-buttons > input {
	outline:none;
	border:none;
	padding:0 2px;

	position:relative;
	height:100%;
	float:left;
	margin-right:2px;

	font-family:monospace;
	background:white;
	color:black;
}
/*
.oekaki-buttons > .button:hover:before {
	position:absolute;
	height:100%;
	width:auto;
	content:attr(alt);
	color:white;
	background:black;
	bottom:100%;
	left:0;
	padding:1px 4px;
	margin-bottom:5px;
	white-space: nowrap;
}
.oekaki-buttons > .button:hover:after {
	width:1px; height:1px;
	border:5px solid transparent;
	border-top:4px solid black;
	border-bottom:none;
	position:absolute;
	bottom:100%;
	left:0;
	content:" ";
}
*/

.canvas-workarea {
	position:relative;
	width:300px;
	height:300px;
	overflow:hidden;
	border:20px solid transparent;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAR0lEQVQYV5WQSQ4AIAgD6f8fXQGFQKJGOUE7YYM8BDYMVWt6LcwUkgKk7EmDDIhYYIPUn4CZNXep7JRgwDHpe6doer3u+LEBmLoZCntZhJ0AAAAASUVORK5CYII=") 5 5, none;
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABn0lEQVR4Xu3ZQRKDIAwFUN14De9/K93oHdzY0hlmHMY2SAL5DXHZim2eAQKM5/saFK91XRV/fRhGB/AM8C7gY4DmKOSDoM8CPg1q9kD8OmCapg/QcRxVoKALoRh8jLwGAixACD4N+O4zblpAAvwKVBoBDoAKUHpMgAKggo/pLokAA5Ab/LXPl7RJxwwIAE4gnLYBQx1g33f2HM9BMAEQ3mQpgjqA5GqwBMEUQEkmmAN4imAS4AmCWYBcBNMAOQjmASiELgB+IXQD8A2hK4A7hO4AUoQuAa4I3QJEhHHbtrPGbmvuZuU8z7m3VrlvXJblLFlFSf0bCACqWJAK9u45MABaCFAAGghwAK0RIAFaIsACtEKABmiB8BcAAaJWsQQN0OJ8Hhag1fk8JEDL83k4AGpdIHk0HcYWKAAq+FjLSyLAAOQGf13QlLRJF0QQAJxAOG0huoDEhggHQT0DJAA4FaM6QNgRktrwKMkEUwAlmWAO4CmCSYAnCGYBchFMA+QgmAegZhgHQDgZot5Sze89AzwDAA5Ha6Y49WzvAspd4AXk+BDRuCM1ygAAAABJRU5ErkJggg==') 0/10% repeat content-box;
}

.canvas-pool{
	position:relative;
	width:100%;
	height:100%;
}
.canvas-pool > canvas {
	position:absolute;
	top:0; left:0; bottom:0; right:0;

	display:none;
}

.canvas-pool > canvas.visible {
	display:block;
}
