.oekaki-buttons {
	background:rgba(0, 0, 0, 0.2);
	height:20px;
	display:flex;
	justify-content: space-around;
}
.canvas-sidebar {
	float:left;
	padding:2px 20px;
	width:400px;
	font-family:sans-serif;
}

.canvas-sidebar h1{
	font-size:18px;
}
.canvas-sidebar p{
	font-size:14px;
}

.chat-box {
	padding:5px 0;
}
.chat-messages {
	background:#444;
	height:100px;
	font-family:monospace;
	overflow:auto;
}
.chat-input-label {
	display:block;
	position:relative;
}
.chat-input-label:before {
	content:"$";
	color:transparent;
	border-bottom:1px solid #DDD;
	position:absolute;
	left:0; right:0;
	padding:2px 2px;
}
.chat-input {
	background:none;
	border:none;
	outline:none;
	width:100%;
	padding:4px 2px;
	box-sizing:border-box;
}
.chat-input:focus {
	background:#888;
}

.chat-message {
	margin-bottom:2px;
}
.chat-text {
	text-align:center;
}
.chat-user:after {
	content:":";
}
.chat-message > .chat-user {
	display:inline-block;
	float:left;
	padding-right:4px;
	background-clip:content-box;
}
.chat-user + .chat-text {
	text-align:inherit;
}

@media all and (max-width:400px) {
	.parupaint-canvas {
		overflow:hidden;
	}
	.canvas-sidebar {
		width:auto;
		float:inherit;
		position:absolute;
		top:0; left:0; right:0; height:190px;
	}
	.canvas-scrollarea {
		position:absolute;
		top:190px; left:0; right:0; bottom:0;
	}
}
