
.qstatus.overlay-piece{
	height: 30px;
	position:absolute;
	top:0;
	right:0;
	left:0;
	display:flex;
	width: 100%;
	border-bottom: none;
	z-index: 1;
	transition:all 100ms ease-out;
	transition-delay:500ms;
}

.qstatus.overlay-piece:hover{
	transition-delay:0;
	box-shadow:0px 0px 64px -20px black;
}



.qstatus-piece{
	opacity:1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	border: 2px solid rgb(224, 224, 224);
	outline: 1px solid rgb(186, 180, 180);
}


.qstatus-piece.preview-col:before{
	position:absolute;
	top:0; left:0;
	right:0; bottom:0;
	content:" ";
	background-size:8px 8px;
	z-index: -1;
}

.qstatus-piece.preview-col:after, .qstatus-piece.qinfo:after{
	content:attr(data-label) attr(data-label-2) attr(data-label-3) attr(data-label-4);
	display: block;
	text-align: center;
	background: none;
	background-color: rgba(234, 234, 234, 0.9);
	font-size: 12px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 15px;
	border-radius: 2px;
	padding: 4px;
}
.qstatus-piece.preview-col:after{
	margin-left:0;
	width: 60px;
	content:attr(data-label-2) "\00a0 \00b7 \00a0" attr(data-label);
}
.qstatus-piece.qinfo:after{
	width: 68px;
	margin-right: 8px;
	content:attr(data-label) "\00a0 \00b7 \00a0" attr(data-label-2) "\00a0 \00b7 \00a0" attr(data-label-3);
	background-color: #F5BAC8;
}

.qstatus-piece.online:after{
	background-color: #ADFFBD;
}



/* panel open: rmeove the green shit */
.panel-open .qstatus-piece{
	border:none;
}
.panel-open .qinfo:after{
	background-color:transparent;
	margin-right:auto;
	font-size:16px;
	width:auto;
}



@-webkit-keyframes qstatus-show {
	0% {margin-top:-40px; opacity:0;}
	100% {margin-top:0px; opacity:100;}
}

.qstatus{
	justify-content:space-between;
	-webkit-animation:qstatus-show 200ms normal ease-out;
}

.qstatus > div{
	display:inline-block;
}

.qstatus-message .chat-entry:before{
	text-align:center;
	font-size:12px;
	display: inline-block;
	padding: 2px;
	margin: 0;
	border:none;
	background-color: rgba(212, 212, 212, 0.47);
	bottom: 0;

	position: absolute;
	right: 0;
	color: rgb(129, 129, 129);
}

@-webkit-keyframes chat-scroll{
	0%, 25% {top:0; transform: translateY(0)}
	75%, 100% {
		top:100%;
		transform: translateY(-100%);
	}
}

@-webkit-keyframes chat-notify{
	0% {box-shadow:0 0 64px 0px #DBB;}
	30% {box-shadow:0 0 64px 0px #DBB;}
	100% {box-shadow:0 0 32px 0px #DDD;}
}

.qstatus-message .chat-entry:nth-child(2){
	-webkit-animation:chat-notify 1.1s infinite;
}

.qstatus-message .chat-entry{
	padding:0;
	margin: 1px;
	height: 50%;
	overflow: hidden;
	position:relative;
	padding-bottom: 28px;
}
.qstatus-message:hover .chat-message{
	top:0;
	transform: translateY(0);
	-webkit-animation:none;
	min-height:auto;
}
.qstatus-message:hover .chat-entry{
	overflow:auto;
}

.qstatus-message .chat-message:after{
	display:none;
}
.qstatus-message .chat-message{
	margin:0;
	min-height:32px;
	background:#CCC;
	font-size:12px;
	z-index:-1;
	padding:4px !important;
	padding-left:50px;
	position:absolute;
	left:0; right:0;
	top:100%;
	transform: translateY(-100%);
	-webkit-animation:chat-scroll 3s steps(4) infinite;

	border: none !important;
}
.qstatus-message{
	position:relative;
	overflow:hidden;
	flex-grow:1;
	min-width:200px;
	font-size:16px;
	background:linear-gradient(
		#888,
		#BBC1BB);

	z-index:4;
	user-select:all;
	-moz-user-select:all;
	-webkit-user-select:all;
	pointer-events:all;
}


.qstatus-message:before{
	content: attr(data-label);
	position:absolute;
	top: 0px; left:0; right:0;
	margin:auto;
	bottom: 0;
	font-size: 12px;
	text-align:center;
	color: rgb(232, 227, 227);
	z-index: -1;
	top:50%;
	transform:translateY(-50%);
}

body.connected.is-admin .qstatus-message:before{
	content:"\2726 " attr(data-label);
}
body.connected.is-private .qstatus-message:before{
	content:"\2726 " attr(data-label) " (private)";
}


.qstatus-brush:after{
	right:0;
}

.qstatus-brush:after, .qstatus-settings:before{
	content: "\2191";
	position:absolute;
	top:0;
	bottom:0;
	width:16px;
	text-align:center;
	line-height: 15px;
	background-color:#DDD;
	border-bottom:1px solid #CCC;
	transform: rotateX(160deg);
}
.qstatus-expandable{

	max-width:120px;
	width:100%;
	flex-shrink:1;
	position:relative;
	background-color:#A7A7A7;
	pointer-events:all;
	z-index:3;


}

.qstatus-brush:hover:after,
.qstatus-settings:hover:before,
.qstatus-brush.panel-open:after, .qstatus-settings.panel-open:before{
	background-color:#EEE;
	border-bottom:none;
}
.qstatus-brush.panel-open:after, .qstatus-settings.panel-open:before{
	background-color:transparent;
	transform: translateY(-10px);
	transform-origin:50% 0;
	opacity:0;
	transition:all 100ms ease-out;
	transition-property:transform, opacity;
	pointer-events: none;
}
.qstatus-panel > *{
	display:none;
	pointer-events:none;
}

.panel-open .qstatus-panel > *{
	pointer-events:inherit;
	display: flex;
}
.qstatus-panel{
	height:0;
	opacity:0;
}

.panel-open .qstatus-panel{
	position:absolute;
	padding-top: 30px;
	background-color:#EEE;
	border-top:none !important;
	z-index: -1;
	box-shadow:0px 0px 32px -16px #444;
	opacity:1;
	transition: all 150ms ease-out;
	transition-property: height,opacity;
}

.panel-open .brush-panel{
	min-height: 16px;
	border:1px solid #888;
	border-left:none;
	width:100%;
	left:0;
	border-bottom-right-radius:8px;
	overflow: auto;
	height: auto;
	max-height: 400px;
}
.panel-open .setting-panel{
	border:1px solid #888;
	border-right:none;
	height:400px;
	width:600px;
	border-right:0;
	right:0;
	border-bottom-left-radius:8px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	overflow: hidden;
}

.qstatus-brush.panel-open .player-list{
	display:block;
}
.qstatus-brush .player-list{
    padding: 8px 0;

    margin: 0;
    border-top: 1px solid #777;
    display: none;
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
    font-size: 13px;
    padding-left: 6px;
    list-style-type: none;
}

.player-list li.player-list-entry{
    padding-top: 4px;
}
.player-list li.player-list-entry:before{
    content:"-";
    padding-right:5px;
}



.multi-only{
	display:none;
}
@-webkit-keyframes setting-appear{
	0% {opacity:0; transform:translateY(-10%);}
	100% {opacity:1; transform:translateY(0);}
}

.setting-input-row form{

	flex-basis: 36px;
	background: linear-gradient(#DADADA, #D3D3D3);
	padding: 0px 16px;
	margin-bottom:8px;
	margin-top:8px;
	z-index:5;
	position:relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	box-shadow: 0 0 0px 1px rgb(216, 216, 216);
	-webkit-animation:setting-appear 500ms normal;
}
.setting-top-row form {
	background: linear-gradient(#F9E1E1, #F7DEDE);
}


.setting-middle-row .dimension-input input{
	font-size: 17px;
	margin:0;
	padding: 2px;
	text-align:center;
	border: none;
}
form.dimension-input .dimension-input-container{
	height:28px;
	position: relative;
	margin: 0 auto;
	width: 180px;
}


body.connected.is-admin form.admin-only,
body form.admin-only{
	display: flex;
}
body.connected form.admin-only{
	display:none;
}

body form.multi-only {
	display:none;
}
body.connected form.multi-only{
	display: flex;
}

form.dimension-input .dimension-w-input,
form.dimension-input .dimension-h-input{
}
form.dimension-input .dimension-h-input{
    margin-left: 4px !important;
}

form.dimension-input input[type="number"]{
	margin: 0;
	text-align: left;
	margin-left: auto;
	border-radius: 4px;
	padding: 2px 6px;
}
.setting-input-row form input[type="submit"]:active,
.setting-input-row form input[type="checkbox"]:active:after{
	background: rgb(221, 226, 219);
}

.setting-input-row form input[type="submit"]{
	padding: 0px 4px;
	background: rgb(231, 237, 228);
	font-size: 16px;
	border: 1px solid rgb(203, 169, 169);
	border-radius: 2px;
	outline:none;
	color: rgb(113, 112, 112);
	border-top: none;
	border-bottom: none;
}

form.knob-thing:after{
	content:attr(data-label);
	position:absolute;
	top:0;left:0;right:0;bottom:0;
	text-align: left;
	padding: 8px 16px;
	font-size:16px;
	pointer-events: none;
	color: rgb(165, 157, 157);
	margin-left: 4px;
}
form.knob-thing input[type=checkbox]+label:before,
form.knob-thing input[type=checkbox]+label:after,
form.knob-thing input[type=checkbox]+label:checked:after{
	content:"";
	position:absolute;
	visibility: visible;
	border-radius:8px;
}
form.knob-thing input[type=checkbox]+label:before{
	top:0; left:0; bottom:0; right:0;
	background: rgb(195, 169, 169);
	box-shadow: 0 0 16px 3px rgba(2, 2, 2, 0.15) inset, 0 0 0px 1px rgb(134, 93, 93);
}
form.knob-thing input[type=checkbox]+label:after{
	content:"\2A2F";
	font-size:15px;
	padding-top:4px;
	text-align:center;
	top:0; bottom:0; left:0;
	width:50%;
	background: rgb(231, 237, 228);
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	transition:all 100ms steps(15);
	transition-property:left, transform;
}
form.knob-thing input[type=checkbox]:checked+label:after{
	background: rgb(208, 240, 193);
	content:"\2713";
	border-radius:8px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	left:100%;
	transform:translateX(-100%);
}
form.knob-thing input[type=checkbox]+label{
	position:relative;
	visibility: hidden;
	margin:0 auto;
	padding:0;

	width:128px;
	height:30px;
	margin-right: 0;
}

form.knob-thing input[type=checkbox]{
	display:none;
}

.setting-bottom-row{
	display:flex;
	justify-content: space-around;
	flex:0 0 70px;
	background-color:#888;
}

.setting-bottom-row > div{
	flex:0 1 70px;
	border:none;
	position:relative;
	background-repeat:no-repeat;
	background-color:#696969;
	background-position:5px 5px;
}
.setting-bottom-row > div:hover{
	margin-top:-2px;
}





#tablet-input-id + label:before{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAeCAYAAADkUhb4AAABXUlEQVRoge2b0Q6DMAhFy7L//2X2RNKwtlYFWgrnaZlRKVyvWCsUBiLyvx4DAMPj0nbJc96ljrGUtbGUop8TPt6vylkYuxa/RSsunjRit9ifYCIAopXIXnK1mC3aTFxSsdcxWYvKVAAr4Am1FtzumAoA5eUNo4JqX00a4xE+3iUf6xMme2HlACqX4pWdO7R7ypNZ4K57AAkLHt5DApC3gD3BouSaHNcOcEF9Zft/YFciHSA4KYDgdBsghWfcLXnTBHrKUW+c6QDB+WsCPak6mYfqyp0gHSA4fw5ACkknOIvsAZImrR6Afr6eIq0WV6xwkxMmgsSmqakE3AjSAYKTAgjOye8CvNq+KScLwDO5HmCG6O/yJbASABVK1JYRcbjqZ7QcfVNyTWBii/V3AaYKBwDVlcFS41k56WreA/QGu7k1H4v1dwGPtklRf/Z1V3CtfU54XeL6KcCCE4o84gfobX1bUKbJCQAAAABJRU5ErkJggg==);
}

#tablet-input-id:checked + label:before{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAeCAYAAADkUhb4AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAilJREFUaEPtkoGOhDAIRPf/f3oPcDDq4WJlVq9nXzKJaGcKtq8t7/ebKif6pnKibzvqhaj3VE70jaGUyFSRE31TOdG3HfVC1HsqJ/rGUEpkqoiFZBkoaSCWlqtRkIHXp9EIplIiU0UsJMtASQOx4wI4kamiKpLheCYVbEPPFVb9Yptm1MpUSmSqqIpkOJ5JBdvQc4VVv9imGbUylRKZKjqLeA2Uc90h/i8MjHMYtTCVEpkqOot4DZRz3SH+LwyMcxi1MJUiiwyUc30XaOP2PqpgjMvmwHbL/fQZbz8wrf07Px5t3N5HFYxx2RzYbrmfPuPtB3zhVntEa5diIVldgzGaUStTKZFJtUe0dikWktU1GKMZtTKVIosMlHM96BMc469z3QXrxgX4J+AYxwV4KjjGcQGeCo5xXICngmMcF+Cp4BiPX4At6jmibyN7dA3GaEatTDUThUT6NrJH12CMZtTKVIosMlDO9V2gjdv7qIIxrpzDDnx6NKxOmdbe0nAI2ri9jyoY48o57MCnR8PqFF94Vs62bkW8Bsq57hD/FwbGaUatDKVEphY527oV8Roo57pD/F8YGKcZtTKUEpkqqiIZjmdSwTb0XGHVL7ZpRq1MpUSmiqpIhuOZVLANPVdY9YttmlErUymRqSIWkmWgpIFYWq5GQY7VZ3E/SymRqSIWkmWgpIHYcQGcyFRRlSCzF1Z9n2WbU1VKZKqoSpDZC6u+z7LNqWrN6/UDFmLiQs1OVyAAAAAASUVORK5CYII=);
}

#con-status-id + label:before{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAeCAYAAADkUhb4AAABIklEQVRoge2awQ7CIBBEwfj/v4ynTep2raVhYdqZdzJquk1lHrhQi6O15t8aSq11Sp27kv187PrGK6WKuA3v1Tfg8SN0NJYsn7Tsur4+CjIAOXAGOEjI1eh0RTuoP6XuKmQAcuAMsAFrsuzH3z+kEWQAchANMDr5vUnMMo9dF8oEMgA5GgDkaACQs1sDbDpkKXPhgk5Y75zrv5+9Jvn+MG8PIHwOMgA5OwNkJV+sxX5XbwIZgJxoDVBLkQmehtYAIiRaA9jLlI7ViRMvT+0EnqqfdSLo17kHGYAcDQByNADIQdwNtElq1CSI0gmE2gU0ZAByEA1gZPfks4FMvEcGIAfOAAfn84ck6t//66D+0CSjNVhlAHLgDLAqIWjJnIUMQM4HXfxWRM0uMIcAAAAASUVORK5CYII=);
}

.setting-down-img {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAXZJREFUaEPtz9GygjAUQ1H//6e5L+rcg7tSkhShmpn1QNDQ3pZl+SpYzgzLMDW0ZcMyTA1t2bAMU0NbNizD1NCWDcswNbRlwzJMDW3ZsAxTQ1s2LMPU0JYNyzA1tGXDMkwNbdmwDFNDWzYsw9TQlg3LMDW0ZcMyTA1t2bAMU0NbNizD1NCWDcswNbRlwzJMDW3ZsAxTQ1s2LMPU0JYNy7tZUu5VHlZmSblXeWi4auguvwu/c5XQ2Z+wbLhK6OxPWG44a+isL7DccNbQWV9g2eksobM1YdnpLKGzNWG506dCZ9mE5U6fCp1lE5aio0Lf7oal6KjQt7thaRoV+tZuWJpGhb61G5YhqdC2DMuQVGhbhmWYGtqyYRmmhrZsWA7SG/pvDJaD9Ib+G4PlYK3Qb+OwHKwV+m0clgd5hN4Ng+VBHqF3w2A5MyxnhuXMsJwZlitXDd3ld+H/Zkm5V3lYmSXlXuVhZZaUe5WHlVlS7lUevgGW81pufyBN46O3tUGUAAAAAElFTkSuQmCC);
}

.setting-down-img:hover {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAcZJREFUaEPtj8GOwyAUA/f/fzp7WUvGdfoCmLRLO9IcbBQHfo7j+ChtubO2DDuK25rWlmFHcVvT2jIscGdO4M6mtWVY4M6cwJ1Na8uwQHMFb8S0ZViguYI3YtoyLNBcwRsxbRkWaK7gjZi2DAs0V/BGTFuGBZoreCOmLcMCzRW8EdOWYYHmCt6IacuwQHMFb8S0ZViguYI3YtoyLNBcwRsxbRkWaK7gjZi2DAs0V/BGTFuGBZoreCOmLcMCzRW8EdOWYYHmCt6Iacs/06zareA3fR/sBO5sxF7cxjOBO/s++JlA87vBd37QlicCze8G3/lBWxYCza+G73iqLQuB5lfDdzzVlhcFmu+G71Rqy4sCzXfDdyq1ZadA82r4Dpe1ZadA82r4Dpe15aBAcxr+Z7e2HBRoTsP/7NaWkwLNs/A/hrXlpEDzLPyPYW0ZEmjuhTentWVIoLkX3pzWlmGB5greiGnLsEBzBW/EtOUigWaFv4lry0UCzQp/E9eWiwVneam2XCw4y0u15U0Cd7ZMW94kcGfLtOXO2nJnbbmzttxZW4r/FfeW74PZXWje1QRxF5p3NUHcheZdTRB3oXlXEz5BW+7r8fMLL0pIP1ZJpqAAAAAASUVORK5CYII=);
}

.setting-reload-img{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAfdJREFUaEPtj9GuhCAMBff/f9obEzCeOl1aAdd4nWQeeuBU/CzL8q/E8Mli+GQxfLIYTrZCZ9PFcLIVOpsuhie10J3VCp1NF8OTWujOaoXOpovhST28ezavjkb2y9Cph3fP5tXRyH4Zglpa5xV7vu/sHY3slyGopXVesef7zt7RyH4ZGrZo3bfnnqOR/TI0bNG6b889RyP7ZXDMQjsynoV2HcTQmIV2ZDwL7TqIoWMU6mbshXZuYugYhboZe6GdmxgWK3S2aqE7ZxwF7X5/eK8H3R3pKGj3+8N7o1C3R4/Wucd+9/vDq1GoO0KP6D2L9GQoRqHuCD2i9yzSk6EYhboj9Ijes0hPhmIU6o7QI3rPIj0ZilGoe6VRpCdDMQp1rzSK9GQoRqHulUaRngzFKNS90ijSk6EYhbpXGkV6MhSjUPdKo0hPhmIU6l5pFOnJUIxC3SuNIj0Zillox0yzSF+GYhbaMdMs0pfBGIW6M41C3feH92ahHSPNQjveHyaz0I4es9COTQyNWWhHj1loxyaGxl5o5zd7oZ2bGBp7oZ3f7IV2bmLoeHfozQcxdLw79OaDGDa8G/RGVwwb3g16oyuGQX8NvakphkF/Db2pKYYnnQ19My2GJ50NfTMthoPshXZ2i+Ege6Gd3WL4ZDF8shg+WQyf6/L5AwFB85P5dhJKAAAAAElFTkSuQmCC);
}
.setting-reload-img:hover{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAjxJREFUaEPtj1uOg0AQA3P/S2c10Rh5jDvzDhJLSfVhgzvh9X6//5W2vLO2vLO2vLO23Cxwz7Zry80C92y7thxUce8kgXu2XVsOqrh3ksA9264tBwVRrvVwNcX9IkwKolzr4WqK+0VoVKk9B/qcNyxwz3oERV+ERpXac6DPecMC96xHUPRFqAg0A3635Xkk0DwK334+2Ak0R/B2RKC5Bt8ItaUINEfwdkSguQbfCLVlYCtu2yPQ3ArfOmnLwFbctkeguRW+ddKWWeCeJRX3zohAcy9889CWWeCeJRX3zohAcy9889CW2Qj37kqB5l745qEtsxHu3ZUCzb3wzUNbZoFmhTcrBLXcCnYfiyACzQpvVghquRXsPhYhCzQrvFkpiLL2NYpdEbJAs8KblYIoa1+j2BUhCzQrvFlpRPSeZoU3zwcngWaFN1cINCu8eT44CTQrvLlCoFnhzfPBSaBZ4c0VAs0Kb54PTgLNCm+uEGhWePN8cLIXd2OnQHMEb58PZltx250CzQpvDm2ZbcVtdwo0K7w5tGW2F3djpUBzBG8PbZntxd1YKdAcwdtDW4q9uBszAs0RvD1pS7EXd2NGoDmCtydtKc7ibn5TifoIvnXSluIs7uY3laiP4FsnbRn4K0Z/V3dWWwb+itHf1Z3VlhVHcbecvbgbobasOIq75ezF3Qi1ZaNX4/5TVVs2ejXuP1W15aC7cb/ZrS0H3Y37zW5tuchZ3M1pbbnIWdzNaW15Z215Z215Z215X9+vP4g4TDvqEFF0AAAAAElFTkSuQmCC);
}

.setting-save-img {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAhhJREFUaEPtj0FqRTEMA3v/S/8SgcD4jQLN27hpB2YhKxjn6/P5/ClxeLM13M7/h02dVadDNy+NcizA6dDNS6McC3A6/U7MHj4KcDr9TswePgpwOv1OzB4+CnA6/U7MHj4KcDp089IoxwKcDt28NMqxAKdDNy+NcizA6dDNS6McC3A6/U7MHj4KcDr9TswePgpwOnTz0ijHApwO3bw0yrEAp0M3L41yLMDp0M1LoxwLcDp089IoxwKcDt28NMqxAKdDNy+NcizA6dDNS6McC3A6dPPSKMcCnA7dvDTKsQCnQzcvjXIswOnQzUujHIuN06Abq0Y5FhunQTdWjXIsLtIox+IijXIsLtIox+IijXIsLtIox+IijXIsLtIox+IijXIsNk6Dbqwa5VhsnAbdWDXKsdhoqHvjKbSrapRjsdFQ98ZTaFfVKMdio6HujafQrqpRjsVGQ90bT6FdVaMci42GujeeQruqRjkWGw11bzyFdlWNciw2mjRP9PfdU2hX1SjHYqNJ80R/3z2FdlWNciw2mjRP9PfdU2hX1SjHYqNJ80R/3z2FdlWNci+XhrqlSfNEf989hXZVjXIvl4a6pUnzRH/fPYV2VY1yL6vmp/NEf989hXZVjXIvq+an80R/3z2FdlWNci9Jk3KfJ/r77im0q2qUe0malPs80d93T6FdVaPcy52/Hf2jf2rnb0f/6J+6Xhze6+frG+rFTWSOsArrAAAAAElFTkSuQmCC);
}
.setting-save-img:hover {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAlhJREFUaEPtj9Fq5TAUA/v/P32XCAYOimRT8lA33YF5GCsY5+vz+fwp4+GbnfF2/v8wzLMppO0nhbRdgroOQUjbTwppuwR1HYLgfQq7d6o5vA1B8D6F3TvVHN6GIHifwu6dag5vQxC8T2H3TjWHtyEI3qcw3zoFdR2C4H0K861TUNchCN6nMN86BXUdguB9CvOtU1DXIQjep7B7p5rD2xAE71PYvVPN4W0IgvcpzLdOQV2HIHifwnzrFNR1CIL3Kcy3TkFdhyB4n8J86xTUdQiC9ynMt05BXYcgeJ/CfOsU1HUIgvcpzLdOQV2HIHifwnzrFNR1CIL3Kcy3TkFdhyB4n8J86xTUdQieTnrzJajrEDyd9OZLUNdh4WmkN05BXYeFp5HeOAV1HV4kqOvwIkFdhxcJ6jq8SFDX4UWCug4vEtR1eJGgrsOLBHUdFp5GeuMU1HVYeBrpjVNQ12EhpO2JkLYkpG0K6joshLQ9EdKWhLRNQV2HhZC2J4L3jnlHEtR1WAhpeyJ475h3JEFdh4WQtieC9455RxLUdVgIaXsieO+YdyRBXYeF0M4b/r0L3jvmHUlQ12EhtPOGf++C9455RxLUdVgI7bzh37vgvWPekQR1HRZCO2/49y5475h3JEHt4yWk7RLaecO/d8F7x7wjCWofLyFtl9DOG/69C9475h1JUPs4he+eN/x7F7x3zDuSoPZxCt89b/j3LnjvmHckQe1jElr7ecO/d8F7x7wjCWofk9Dazxv+vQveO+YdSVD7uPK3o//wn1r529F/+E+93nj4Xj9f/wBmKq31mKKAtgAAAABJRU5ErkJggg==);
}

.setting-input-row{
	flex-grow:1;
	flex-direction:column;
	overflow: hidden;
}

.setting-top-row {
	flex:0 1 auto;
}
