body {
    font-family: monospace;
}

.panel-open .qstatus-panel {
    background-color: #C3AC8E;
    border-radius: 0;
}

.qstatus-expandable {
    background-color: #C3AC8E;
    max-width:130px;
}

.qstatus-expandable > .qstatus-piece:after{
    color: white;
    font-size: 12px;
    background-color: transparent;
    width: 94px;
    padding: 2px;
}

.qstatus-brush .qstatus-piece:after {
	text-shadow:
    	-1px -1px 0 #000,
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000;
    content: attr(data-label-2);
    padding-right: 80px;
    height: 28px;
    width: auto;
    margin-top: 4px;
    background-repeat:no-repeat;
    background-position: 50% 0;
}

.qstatus-brush .qstatus-piece[data-label="eraser"]:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAASCAYAAAAUjf3AAAAAhUlEQVRIieWVQQ6AMAgEWeP/v4wHJdYaErStBZyLh1plHaFgZsoAgP1aL/QMKC9588yne9VAUaiDSqBlRjEjsRjy2mQgOk2lNbRqCzxp/FmHAQC54fKXpTOkBsLBl8X0ILyh+pu766FWwhu6HbCWPWNKaebn51CBy0mntXg6QykobaUztAGV4SwiB/w78gAAAABJRU5ErkJggg==);
}
.qstatus-brush .qstatus-piece[data-label="brush"]:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAASCAYAAAAUjf3AAAAAjElEQVRIie2W2w6AIAxDW+P//3J9mjFowGG4ZNJHYGTlZBuUBAAgiZzs3OzKu7joiyF7rJo7vLGvDc2q1Og2KI9m8hAaXUTZXI1UOEJ76YA6tbdS8ZNMNx6JhSPkadtNSNW29HRuSiIQiJAZLBKaqIZuS+mCpDiEzi+cJ6ZNKq/1zzm0/nJLHRWqy5kO+V8/AS5IfQ0AAAAASUVORK5CYII=);
}


.setting-input-row form{
    background:none;
    box-shadow:none;
}

form.knob-thing input[type=checkbox]+label:after {
    display:none;
}

form.knob-thing input[type=checkbox]+label:before {
    border-radius:0;
    background:none;
    box-shadow:none;

    background:white;
}

.setting-bottom-row > div:hover,
form.knob-thing input[type=checkbox] + label:hover {
    cursor:pointer;
}

.setting-input-row form input[type="text"]{
    width:145px;
    text-align:center;
}
.setting-input-row form input[type="text"],
.setting-input-row form input[type="number"]{
    background: #77614F;
    color: white;
    font-family: inherit;
    font-size: 20px;
    padding: 0;
}


.setting-input-row form:after,
.setting-input-row form input[type="submit"]{
    font-size: 20px;
    color: white;
}

.setting-input-row form input[type="submit"] {
    background:none;
    font-family: inherit;
    text-decoration:underline;
    cursor:pointer;
    color:#E9E480;
}

.setting-bottom-row {
	background-color:#DEBD98;
}
.setting-bottom-row > div {
    background-color: #77614F;
}

.qstatus-message{
    background:#000;
}


.chat-entry[data-name]:before{
	background-color:#B1A087;
}

/* gui stuff */


.color-spinner.overlay-piece {
    width:250px;
    padding:0;
}
.color-spinner .hsl-select-pick {
    margin:4px 0;
}
.color-spinner .light-pick,
.color-spinner .alpha-pick {
    margin:0;
}
.color-spinner .palette-storage {
    margin:0;
}

.chat-box.overlay-piece{
    right:initial;
    top:initial;
    left:0;
    bottom:230px; /* flayerlist */
    width:480px;
    background:none;
}

.gui.visible .chat-input-box,
.chat-box .chat-input-box.focused {
    background:#000;
    background-color:rgba(0, 0, 0, 0.78);
    border:1px solid gray;
}
.chat-box .chat-input-box {
    border-radius:0;
    margin:0;
}

.chat-input-box textarea.chat-input {
    background:none;
    color:white;
    font-size:17px;
    font-family:monospace;
}

.chat-input-box > *{
    min-height:30px;
}

.flayer-list {
    border:none;

    padding:0 6px;
    padding-top:6px;
    border-top:none;
}
