.canvas-cursor{
	left:0;top:0;
	width:1px;
	height:1px;
	position:absolute;
	pointer-events:none;
	-webkit-user-select:none;
	visibility:hidden;
	transition:all 100ms ease;
	transition-property: width, height;
	/*
	font-size:11px;
	text-shadow:0px 0px 2px white;
	*/
}
.canvas-cursor:after {
	position: absolute;
	visibility:visible;
	content: " ";
	/*
	width:attr(data-size px);
	height:attr(data-size px);
	this will work... someday.
	*/
	width:100%;
	height:100%;
	border-radius:100%;
	left: -50%;
	top: -50%;
	border:1.5px solid black;
	box-shadow: 0px 0px 1px 1px white inset;
	margin: -1.5px;
}

@-webkit-keyframes eraser-frames{
	0% {transform:rotate(0deg)}
	100% {transform:rotate(360deg)}
}

.canvas-cursor.eraser.drawing:after{
	-webkit-animation:eraser-frames 5s linear infinite;
}
.canvas-cursor.eraser:after{
	border-style: dashed;
}
.canvas-cursor.drawing:after{
	border-width: 2px;
}
.canvas-cursor.admin:after{
	background-color: rgba(240, 201, 0, 0.12);
}
.canvas-cursor.cursor-self.admin:after{
	background-color:transparent;
}




@-webkit-keyframes opac{
	0% 		{ opacity:0; }
	100ms	{ opacity:0; }
	100% 	{ opacity:1; }
}

@-webkit-keyframes size-shrink{
	0% {transform:scale(1); opacity:1;}
	100% {transform:scale(0); opacity:0;}
}


.canvas-cursor.pick-color:after{
	opacity:0;
	transform:scale(0);
	-webkit-animation-name:size-shrink;
	-webkit-animation-duration:100ms;
	-webkit-animation-timing-function:linear;
	

}


.canvas-cursor.pick-color{
	visibility:visible;
	transition:none;
	width:50px !important; height:50px !important;
	border:2px solid white;
	border-radius:25%;
	border-top-left-radius:0;
	margin:-2px;
	box-shadow: 0px 0px 1px 1px black;

	-webkit-animation-name:opac;
	-webkit-animation-duration:200ms;
	-webkit-animation-timing-function:ease-out;
}

html{
	height:100%;
	/* ??? doesn't work???
	display: flex;
	align-items: center;
	justify-content: center;
	*/
	-webkit-box-align:center;
	-webkit-box-pack:center;
	display:-webkit-box;
	overflow:hidden;
}
/*
body:before{
	content:" ";
	position:absolute;
	background-color:black;
	top:0; left:0; 
	height: 100%;
	width:24px;
	background:url('ruler-side.png');
	box-sizing: border-box;
}*/
body.canvas{
	background-color:#ddd;
	transition:none;
	display:inline-block;
	padding: 60px;
}


.canvas-workarea,.checker-bg, .color-spinner .alpha-pick:before,
.preview-col:before, .palette-storage .palette-entry:before,
.canvas-cursor.pick-color:before, .qstatus-piece.preview-col:before{
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABn0lEQVR4Xu3ZQRKDIAwFUN14De9/K93oHdzY0hlmHMY2SAL5DXHZim2eAQKM5/saFK91XRV/fRhGB/AM8C7gY4DmKOSDoM8CPg1q9kD8OmCapg/QcRxVoKALoRh8jLwGAixACD4N+O4zblpAAvwKVBoBDoAKUHpMgAKggo/pLokAA5Ab/LXPl7RJxwwIAE4gnLYBQx1g33f2HM9BMAEQ3mQpgjqA5GqwBMEUQEkmmAN4imAS4AmCWYBcBNMAOQjmASiELgB+IXQD8A2hK4A7hO4AUoQuAa4I3QJEhHHbtrPGbmvuZuU8z7m3VrlvXJblLFlFSf0bCACqWJAK9u45MABaCFAAGghwAK0RIAFaIsACtEKABmiB8BcAAaJWsQQN0OJ8Hhag1fk8JEDL83k4AGpdIHk0HcYWKAAq+FjLSyLAAOQGf13QlLRJF0QQAJxAOG0huoDEhggHQT0DJAA4FaM6QNgRktrwKMkEUwAlmWAO4CmCSYAnCGYBchFMA+QgmAegZhgHQDgZot5Sze89AzwDAA5Ha6Y49WzvAspd4AXk+BDRuCM1ygAAAABJRU5ErkJggg==');
	background-repeat:repeat;
}

.canvas-workarea{
	position:relative;
	margin:auto;
	outline:1px dashed #9d9d9d;
	-webkit-user-select: none;
	width:32px; height:32px;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAR0lEQVQYV5WQSQ4AIAgD6f8fXQGFQKJGOUE7YYM8BDYMVWt6LcwUkgKk7EmDDIhYYIPUn4CZNXep7JRgwDHpe6doer3u+LEBmLoZCntZhJ0AAAAASUVORK5CYII=") 5 5, none;
	
	background-clip: content-box;
	overflow:hidden;
	transition: none;
	/* z-index: 4; */
}
.canvas-workarea:focus{
	outline-width:0;
	box-shadow: 0px 0px 100px -13px rgb(171, 171, 171);
	transition: all 1s linear;
	transition-property: box-shadow, outline;
}


.canvas-pool{
	position:relative;
	left:0;top:0;width:100%;height:100%;
	
}
.canvas-pool canvas{
	position:absolute;
	top:0; left:0; bottom:0; right:0;
}




canvas{
	display:none;
	pointer-events: none;
}
canvas.partial-focused{
	opacity:0.3;
	display:block;
}
canvas.focused{
	opacity:1.0;
	display:block;
	pointer-events: all;
}



